
/*imagen scroll*/
body{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 20em;
}
/*---------Nosotros---------*/
.tn{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
}

.tc{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 35px;
}

.tc2{
    color: rgb(255, 255, 255);
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    margin-top: 30px;
    
}

.tc3{
    color: rgb(255, 0, 0);
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    
}
/*---------------contenedores Nosotros-------------------------*/
.contenedor1{
    padding:60px;
        margin-right: 0px;
        height: 500px;
        width: 1000px;
        background: rgb(0, 0, 0);
        float: left;
        margin-left: 0px;
        border: 2px solid rgb(0, 0, 0);
    }
    
    .contenedor1:hover{

		border: 3px solid rgb(255, 0, 0);
		
	}

    .contenedor2{
        
        margin: 0px;
        background-color: rgb(19, 18, 18);
        height: 300px;
        width: 800px;
        float: left;
        
    
    }
/*-------------------hover productos---------------------*/
body{
	margin:0;
	font-family: sans-serif;
}

*{
	box-sizing: border-box;
}

.services{
	background-color: #000000;
	min-height: 100vh;
	width: 100%;
	float: left;
	padding:100px 0;
}

.container{
	max-width: 1170px;
	margin: auto;
}
.services .heading{
	margin-bottom: 60px;
	width: 100%;
	float: left;
}
.services .heading h1{
  text-align: center;
  font-size: 40px;
  color:white;
  margin:0;
}

.services .content{
	float: left;
	width: 100%;
}
.services .content .box{
	width: 33.33%;
	float: left;
	padding:15px;
}
.services .content .box .inner{
	padding:30px;
	text-align: center;
	position: relative;
}

.services .content .box .inner::before{
	content: '';
	position: absolute;
	left:0;
	bottom:0;
	width:0;
	box-sizing: border-box;
	height: 0;
	border-bottom:3px solid transparent;
	border-left: 3px solid transparent;
	transition: all .8s ease;
}
.services .content .box .inner::after{
	content: '';
	position: absolute;
	right:0;
	top:0;
	width:0;
	box-sizing: border-box;
	height:0;
	border-top:3px solid transparent;
	border-right: 3px solid transparent;
	transition: all .8s ease;
}
.services .content .box:hover .inner::after,
.services .content .box:hover .inner::before{
   border-color: red;
   width: 100%;
   height: 100%;
}
.services .content .box .inner .icon{
	font-size:50px;
	color:#000;
	transition: color .8s ease;
}
.services .content .box:hover .inner .icon{
	color:red;
}
.services .content .box .inner h3{
	font-size: 20px;
	font-weight: normal;
	color:#000;
	margin:20px 0;
}

.services .content .box .inner p{
	font-size:15px;
	color:#444444;
	line-height:24px;
}


@media(max-width: 767px){
	.services .content .box {
    width:100%;
    
}
}

/*border hover*/

.bhover{

    border:solid,red;
}

@media(max-width: 767px){
	.container2 {
    width:100%;
    
}
}