
/*imagen scroll*/
body{
    background-image: url(../img/fondo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 20em;
}
/*---------Nosotros---------*/
.tn{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 50px;
}

.tc{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 35px;
}

.tc2{
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 25px;
    margin-top: 30px;
    
}

.tc3{
    color: rgb(255, 0, 0);
    text-align: center;
    font-family: 'Kanit', sans-serif;
    font-size: 20px;
    
}
/*----------------------------------------*/